/vendor
/node_modules
/.git
/storage/*.key
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/database/database.sqlite*
/.env
/.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.phpunit.result.cache
*.sqlite
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/storage
/public/hot
/public/build
/static-php-cli
/frankenphp

